<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/">Analytics</a></li>
        <li><a href="#/">Popular Shows</a></li>
        <li><a href="#/">Payments</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">A list of TV-Series</h2>
      <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
        <input type="text" class="form-control" placeholder="Search..." ng-model="store.searchInput">
      </div>
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="product in store.products | filter:store.searchInput | orderBy:store.order.key:store.order.reverse"></span>
          <h3>{{product.name}}</h3>
          <span class="badge">{{product.year}}</span>

          <div ng-show="product.images.length">
            <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                <img ng-src="{{image}}" height="50" width="50"/>
              </li>
            </ul>
          </div>

          <!-- Product Tabs  -->
          <section ng-controller="TabController as tab">
            <ul class="nav nav-pills">
              <li ng-class="{ active:tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Description</a>
              </li>
              <li ng-class="{ active:tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Reviews</a>
              </li>
            </ul>

            <!--  Description Tab's Content  -->
            <div ng-show="tab.isSet(1)" ng-include="'components/tabs/product-description.html'">
            </div>

            <!--  Review Tab's Content  -->
            <div ng-show="tab.isSet(2)" ng-include="'components/tabs/product-reviews.html'">
            </div>

          </section>
        </li>
      </ul>
    </div>
  </div>
</div>
